---
layout: collection-page
title: "Posts by Category"
permalink: /category-archive/
author_profile: false
---

{% include base_path %}

Posts organized by category.

{% for post in site.posts %}
  {% for category in post.categories %}
    {% capture cat %}{{ category }}{% endcapture %}
    {% if cat != written_cat %}
      {% assign written_cat = cat %}
      <h2 id="{{ written_cat | slugify }}">{{ written_cat }}</h2>
    {% endif %}
    <p><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></p>
  {% endfor %}
{% endfor %}