---
layout: collection-page
title: "Posts by Collection"
permalink: /collection-archive/
author_profile: false
---

{% include base_path %}

A clean overview of all collections on this website.

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    <h2 id="{{ collection.label | slugify }}" class="archive__subtitle">{{ collection.label | capitalize }}</h2>
    <ul>
    {% for post in collection.docs %}
      <li><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endunless %}
{% endfor %}