---
layout: collection-page
title: "Publications"
permalink: /publications/
author_profile: false
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    <h2>My Publications</h2>
    <p>For a complete and up-to-date list of my publications, please visit my <a href="{{site.author.googlescholar}}" class="btn btn--primary">Google Scholar profile</a>.</p>
  </div>
{% endif %}

{% include base_path %}

<div class="publications-page">
  <p><em>Note: This page provides a brief overview. For detailed publication information, citations, and metrics, please visit my <a href="{{site.author.googlescholar}}">Google Scholar profile</a>.</em></p>
</div>



