---
layout: page
title: "Posts by Tag"
permalink: /tag-archive/
author_profile: false
---

{% include base_path %}

Posts organized by tag.

{% for post in site.posts %}
  {% for tag in post.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    {% if tag_name != written_tag %}
      {% assign written_tag = tag_name %}
      <h2 id="{{ written_tag | slugify }}">{{ written_tag }}</h2>
    {% endif %}
    <p><a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a></p>
  {% endfor %}
{% endfor %}